h1{
    text-align: right;
    color: rgb(156, 120, 132);
}
a{
    text-align: right;
    font-size: 30px;
    color: rgb(156, 120, 132);
}
img:hover{
    box-shadow: black 0px 0px 5px 0px;
    transform: scale(1.1);
}
